{% extends 'shop/base.html' %}

{% block content %}
<div class="basket-container">
    <h1>Корзина</h1>
    
    {% if not user.is_authenticated %}
        <div class="alert alert-warning">

        </div>
    {% elif elements %}
        <table class="basket-table">
            <thead>
                <tr>
                    <th align ="center">Товар</th>
                    <th align ="center">Цена</th>
                    <th align ="center">Количество</th>
                    <th align ="center">Сумма</th>
                </tr>
            </thead>
            <tbody>
                {% for element in elements %}
                <tr>
                    <td align ="center">{{ element.product.name }}</td>
                    <td align ="center">{{ element.product.price }} BYN</td>
                    <td align ="center">{{ element.count }}</td>
                    <td align ="center">{{ element.price_element }} BYN</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"><strong>Итого:</strong></td>
                    <td><strong>{{ total_cost }} BYN</strong></td>
                </tr>
            </tfoot>
        </table>
        
        <div class="basket-actions">
            <a href="{% url 'product_list' %}">Продолжить покупки</a>
        </div>
    {% else %}
        <p>Ваша корзина пуста</p>
       <form action="{% url 'product_list' %}" method="get">
            <button type="submit" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;">
        Перейти к товарам
            </button>
        </form>
        {% endif %}
</div>

{% for item in cart_items %}
<form method="post" action="{% url 'update_basket_quantity' item.product.id %}">
    {% csrf_token %}
    <input type="number" 
           name="quantity" 
           value="{{ item.quantity }}" 
           min="0" 
           max="{{ item.product.count }}"
           step="1">
    <button type="submit">Обновить</button>
</form>
{% endfor %}
        <!-- удаление товара -->

{% for element in elements %}
<tr>
    <td>{{ element.product.name }}</td>
    <td>{{ element.product.price }} BYN</td>
    <td>{{ element.count }} шт</td>
    <td>{{ element.price_element }} BYN</td>

    
    <td>
        <form action="{% url 'remove_from_basket' element.id %}" 
              method="post" 
              onsubmit="return confirm('Удалить товар {{ element.product.name }} из корзины?')">
            {% csrf_token %}
            <button type="submit" class="btn-remove">
                🗑️ Удалить
            </button>
        </form>
        
      
    </td>
</tr>
{% endfor %}

{% endblock %}